{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {{ block.super }}
  {% if original.pk %}
    <li><a class="historylink" href="{% url 'rpngc_admin:recruitment_application_shortlist' original.pk %}">Shortlist</a></li>
    <li><a class="historylink" href="{% url 'rpngc_admin:recruitment_application_approve' original.pk %}">Approve</a></li>
    <li><a class="deletelink" href="{% url 'rpngc_admin:recruitment_application_reject' original.pk %}">Reject</a></li>
  {% endif %}
{% endblock %}
